h1{
    font-family:"Ovo";
    text-align: center;
}
h3{
    font-family: "Ovo";
}

 p{
 

  width: 200px;
    margin-left: 00px;
 border: 25px solid pink;
  padding: 20px;
  font-family: "Muli";
 float: left

}

.prof{
   margin-left: 11px;
 position:relative ;
 left:300px
  
    
    
}
#hero{
    
    
}